<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand"><span><h1>Navbar</h1></span></a>
    <form class="d-flex" >
      <button [hidden]="isLogged" routerLink="/login" class="btn btn-outline-success" id="buttonSignIn">Sign in</button>
      <button [hidden]="isLogged" routerLink="/register" id="buttonSignUp" class="btn btn-outline-success">Sign up</button>
      <button [hidden]="!isLogged" routerLink="/admin" id="buttonAdmin" class="btn btn-outline-success">Admin</button>
      <button [hidden]="!isLogged" class="btn btn-outline-success" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet> 